@model DomainModel.DTO.SurveyDTO

<section class="u-clearfix u-image u-shading u-section-2" id="first-section" data-image-width="1333" data-image-height="1000">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-custom-font u-text u-text-3">Здравствуйте, @Model.User.FirstName!</h1>
        <p class="u-align-center u-text u-text-2"> Мы с огромным удовольствием приглашаем вас разделить незабываемые минуты радости нашего свадебного торжества!</p>
        <h1 class="u-align-center u-custom-font u-text u-text-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
            <span style="font-size: 6rem;">
                <span style="font-size: 4.5rem;">15.01.2022</span>
                <span style="font-size: 4.5rem;">
                    <span style="font-size: 3.75rem;"></span>
                </span>
            </span>
        </h1>
        <h1 class="u-align-center u-custom-font u-text u-text-4" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
            <span style="font-size: 72px;">La Dolce Vita House</span>
        </h1>
        <a id="location-btn" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-palette-1-light-3 u-radius-50 u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
            <span class="u-icon">
                <svg class="u-svg-content" viewBox="0 0 30.727 30.727" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <path d="M29.994,10.183L15.363,24.812L0.733,10.184c-0.977-0.978-0.977-2.561,0-3.536c0.977-0.977,2.559-0.976,3.536,0   l11.095,11.093L26.461,6.647c0.977-0.976,2.559-0.976,3.535,0C30.971,7.624,30.971,9.206,29.994,10.183z"></path>
                </svg><img>
            </span>&nbsp;Подробнее о местоположении
        </a>
        <p class="u-align-center u-text u-text-white u-text-5"> Предлагаем ответить вам на список вопросов, чтобы сделать мероприятие максимально комфортным для вас :)</p>
        <a id="survey-btn" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-palette-1-light-3 u-radius-50 u-btn-1">Ответить</a>
    </div>
</section>
<section class="u-align-center u-clearfix u-section-3 light-green" id="concept-section">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1"> Концепция свадьбы</h2>
        <p class="u-text u-text-2"> Наша концепция – создание чувства, что все события этого важного дня идут сами собой: живо, естественно и&nbsp; непринужденно. В ожидании душевного и уютного зимнего вечера :)</p>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
            <div class="u-gallery-inner u-gallery-inner-1">
                <div class="u-effect-fade u-gallery-item">
                    <div class="u-back-slide" data-image-width="564" data-image-height="846">
                        <img class="u-back-image u-expanded" src="/images/style6.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-1">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-effect-fade u-gallery-item">
                    <div class="u-back-slide" data-image-width="564" data-image-height="846">
                        <img class="u-back-image u-expanded" src="/images/style3.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-2">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-effect-fade u-gallery-item">
                    <div class="u-back-slide" data-image-width="564" data-image-height="845">
                        <img class="u-back-image u-expanded" src="/images/style1.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-3">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-4 light-green3" id="presents-section">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                            <h2 class="u-text u-text-default u-text-1">
                                <span style="font-size: 3rem;"></span>Подарки
                            </h2>
                            <p class="u-text u-text-2">
                                Если вы думаете над подарком и никак не можете придумать, что бы такого нам подарить, то мы с удовольствем вам помогаем: ваши конверты в качестве подарка помогут нам осуществить мечту о собственном жилье и покупке машины!&nbsp;<br>И также мы будем рады, если вместо живых цветов вы захватите бутылочку вина или любого другого алкоголя для нашей домашней коллекции :) Нам будет очень приятно открыть его в честь какого-нибудь повода и насладиться воспоминаниями о нашем свадебном дне.
                            </p>
                            <p class="u-text u-text-3">Если вы хотите сделать другого рода сюрприз, для этого обращайтесь, пожалуйста, к нашему организатору Анастасии :)&nbsp;</p>
                            <a class="u-active-none u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-text-body-color u-btn-1" href="tel:80447943404">
                                <span class="u-icon">
                                    <svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;">
                                        <path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path>
                                    </svg><img>
                                </span>&nbsp;80-44-794-34-04
                            </a>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1" src="" data-image-width="564" data-image-height="376">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-5 u-grey-5" id="location-section">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Местоположение</h1>
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-custom-font u-text u-text-2">
                                <span style="font-size: 3rem;">La Dolce Vita House</span>&nbsp;<br>(Ла Дольче Вита Хаус)
                            </h2>
                            <p class="u-text u-text-3">Минская область,&nbsp;Узденский район,&nbsp;Русаково,&nbsp;ул. Русаковская, 14</p>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1" src="" data-image-width="900" data-image-height="600">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <a id="telephone-btn" href="tel:80257363169" class="u-active-none u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-text-body-color u-btn-1">
            <span class="u-icon">
                <svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path>
                </svg><img>
            </span>80-25-736-31-69 - Дарья
        </a>
        <div class="u-grey-light-2 u-map u-map-1">
            <div class="embed-responsive">
                <iframe class="embed-responsive-item" src="//maps.google.com/maps?output=embed&amp;q=%D0%9C%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2C%20%D0%A3%D0%B7%D0%B4%D0%B5%D0%BD%D1%81%D0%BA%D0%B8%D0%B9%20%D1%80%D0%B0%D0%B9%D0%BE%D0%BD%2C%20%D0%A0%D1%83%D1%81%D0%B0%D0%BA%D0%BE%D0%B2%D0%BE%2C%20%D1%83%D0%BB.%20%D0%A0%D1%83%D1%81%D0%B0%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%2C%2014&amp;z=10&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyJUQwJTlDJUQwJUI4JUQwJUJEJUQxJTgxJUQwJUJBJUQwJUIwJUQxJThGJTIwJUQwJUJFJUQwJUIxJUQwJUJCJUQwJUIwJUQxJTgxJUQxJTgyJUQxJThDJTJDJTIwJUQwJUEzJUQwJUI3JUQwJUI0JUQwJUI1JUQwJUJEJUQxJTgxJUQwJUJBJUQwJUI4JUQwJUI5JTIwJUQxJTgwJUQwJUIwJUQwJUI5JUQwJUJFJUQwJUJEJTJDJTIwJUQwJUEwJUQxJTgzJUQxJTgxJUQwJUIwJUQwJUJBJUQwJUJFJUQwJUIyJUQwJUJFJTJDJTIwJUQxJTgzJUQwJUJCLiUyMCVEMCVBMCVEMSU4MyVEMSU4MSVEMCVCMCVEMCVCQSVEMCVCRSVEMCVCMiVEMSU4MSVEMCVCQSVEMCVCMCVEMSU4RiUyQyUyMDE0JTIyJTJDJTIyem9vbSUyMiUzQTEwJTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0FudWxsJTJDJTIyYXBpS2V5JTIyJTNBJTIyJTIyJTJDJTIybWFya2VycyUyMiUzQSU1QiU1RCU3RA=="></iframe>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-section-6 light-green3" id="wedding-day-section">
<div class="u-clearfix u-sheet u-sheet-1">
<h2 class="u-text u-text-default u-text-1"> Свадебный день</h2>
<p class="u-text u-text-default u-text-2">Представляем вам время проведения основных моментов свадебного дня</p>
<div class="u-expanded-width u-list u-list-1">
<div class="u-repeater u-repeater-1">
<div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
    <div class="u-container-layout u-similar-container u-container-layout-1 light-green2">
        <span class="u-icon u-icon-circle u-icon-3">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4cfe"></use>
            </svg>
            <svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-4cfe" style="enable-background:new 0 0 60 60;">
                <path style="fill:#B02721;" d="M53.792,28.028L30,9.688L6.208,28.028c-1.228,0.946-2.974,0.801-4.028-0.335l0,0
	c-1.195-1.287-1.033-3.32,0.35-4.402l25.43-19.895L30,1.5l2.041,1.896l25.43,19.895c1.383,1.082,1.545,3.115,0.35,4.402l0,0
	C56.766,28.829,55.02,28.974,53.792,28.028z"></path><path style="fill:#B02721;" d="M53.792,28.028L30,9.688L6.208,28.028c-1.228,0.946-2.974,0.801-4.028-0.335l0,0
	c-1.195-1.287-1.033-3.32,0.35-4.402l25.43-19.895L30,1.5l2.041,1.896l25.43,19.895c1.383,1.082,1.545,3.115,0.35,4.402l0,0
	C56.766,28.829,55.02,28.974,53.792,28.028z"></path><polygon style="fill:#E0E1E2;" points="30,9.688 7,27.417 7,27.5 7,57.5 53,57.5 53,27.5 53,27.417 "></polygon>
                <g>
                    <path style="fill:#E0E1E2;" d="M59,47.5c-0.553,0-1,0.448-1,1v1h-1v-1c0-0.552-0.447-1-1-1s-1,0.448-1,1v1h-2c-0.553,0-1,0.448-1,1
		s0.447,1,1,1h2v3h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2v1c0,0.552,0.447,1,1,1s1-0.448,1-1v-1h1v1c0,0.552,0.447,1,1,1
		s1-0.448,1-1v-9C60,47.948,59.553,47.5,59,47.5z M57,54.5v-3h1v3H57z"></path><path style="fill:#E0E1E2;" d="M7,51.5c0.553,0,1-0.448,1-1s-0.447-1-1-1H5v-1c0-0.552-0.447-1-1-1s-1,0.448-1,1v1H2v-1
		c0-0.552-0.447-1-1-1s-1,0.448-1,1v9c0,0.552,0.447,1,1,1s1-0.448,1-1v-1h1v1c0,0.552,0.447,1,1,1s1-0.448,1-1v-1h2
		c0.553,0,1-0.448,1-1s-0.447-1-1-1H5v-3H7z M3,54.5H2v-3h1V54.5z"></path>
                </g><rect x="15" y="26.5" style="fill:#556080;" width="12" height="8"></rect><rect x="15" y="40.5" style="fill:#556080;" width="12" height="10"></rect><rect x="33" y="26.5" style="fill:#556080;" width="12" height="8"></rect><rect x="33" y="40.5" style="fill:#556080;" width="12" height="17"></rect><rect x="33" y="26.5" style="fill:#7383BF;" width="12" height="6"></rect><rect x="15" y="26.5" style="fill:#7383BF;" width="12" height="2.765"></rect><polygon style="fill:#7383BF;" points="22,44.5 22,40.5 20,40.5 20,44.5 15,44.5 15,46.5 20,46.5 20,50.5 22,50.5 22,46.5 27,46.5 
	27,44.5 "></polygon>
            </svg>


        </span>
        <h3 class="u-align-center u-text u-text-3">Приезд на усадьбу</h3>
        <p class="u-align-center u-text u-text-4">14:30-15:00</p>
    </div>
</div>
<div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
    <div class="u-container-layout u-similar-container u-container-layout-2 light-green2">
        <span class="u-icon u-icon-circle u-icon-4">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 511.838 511.838" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cdeb"></use>
            </svg>
            <svg class="u-svg-content" viewBox="0 0 511.838 511.838" id="svg-cdeb">
                <g>
                    <g>
                        <path d="m90.832 442.908-60.6 3.538c-7.655.447-14.26 5.526-16.657 12.81-.601 1.825.392 3.792 2.217 4.393l123.091 40.514c1.825.601 3.792-.392 4.393-2.217 2.397-7.284.101-15.293-5.793-20.199z" fill="#f8f6f6"></path>
                    </g>
                    <g>
                        <path d="m144.209 496.114c0 1.95-.3 3.91-.93 5.83-.6 1.83-2.57 2.82-4.4 2.22l-16.94-5.58c0-.27.01-.54.01-.81 0-5.59-2.45-11.03-6.91-14.74l-46.63-38.82 22.42-1.31 46.65 38.84c4.35 3.62 6.73 8.92 6.73 14.37z" fill="#ebebeb"></path>
                    </g>
                    <g>
                        <path d="m215.303 290.724 40.616-171.993-52.682-17.34-2.153-.709-47.315-15.572c-3.036-.999-6.332.49-7.588 3.429l-67.255 157.296c-14.085 32.943-4.13 70.509 25.939 90.541 15.236 10.151 33.751 13.852 51.762 10.845 29.164-4.869 53.537-27.079 58.676-56.497z" fill="#f8f6f6"></path>
                    </g>
                    <g>
                        <path d="m255.919 118.734-40.62 171.99c-5.14 29.42-29.51 51.63-58.67 56.5-17.46 2.91-35.4-.48-50.35-9.93 10.42 3.02 21.48 3.66 32.36 1.84 29.16-4.87 53.54-27.08 58.68-56.5l39.38-166.78c.29-1.22.17-2.44-.27-3.53z" fill="#ebebeb"></path>
                    </g>
                    <g>
                        <path d="m156.627 347.216c-18.014 3.009-36.524-.694-51.767-10.838-30.064-20.033-40.018-57.599-25.931-90.546.016-.048.361-.839.984-2.287 24.025 13.561 53.588 18.417 80.612 17.332 22.187-.878 42.414-4.569 62.645-3.5l-7.871 33.351c-5.133 29.409-29.509 51.622-58.672 56.488z" fill="#fee45a"></path>
                    </g>
                    <g>
                        <path d="m223.169 257.374c-.983 4.166-1.966 8.332-2.949 12.498-1.441 6.106-2.882 12.213-4.323 18.32-1.058 4.482-1.919 8.828-3.436 13.213-2.499 7.223-6.306 13.923-11.122 19.889-6.45 7.99-14.67 14.54-23.96 19.18-3.688 1.842-7.436 3.319-11.37 4.54-13.239 4.109-28.056 4.429-41.38.47-4.834-1.437-9.538-3.266-13.97-5.64-1.48-.79-2.94-1.64-4.38-2.55 10.42 3.02 21.48 3.66 32.36 1.84 29.16-4.87 53.54-27.08 58.68-56.5l5.91-25.04c6.69-.41 13.32-.57 19.94-.22z" fill="#fed402"></path>
                    </g>
                    <g>
                        <g>
                            <path d="m421.006 442.908 60.6 3.538c7.655.447 14.26 5.526 16.657 12.81.601 1.825-.392 3.792-2.217 4.393l-123.091 40.514c-1.825.601-3.792-.392-4.393-2.217-2.397-7.284-.101-15.293 5.793-20.199z" fill="#f8f6f6"></path>
                        </g>
                        <g>
                            <path d="m498.439 460.354c0 1.46-.93 2.81-2.39 3.29l-19.42 6.39c-3.24-4.11-8.13-6.75-13.56-7.07l-59.94-5.17 17.88-14.89 60.6 3.54c7.65.45 14.26 5.53 16.65 12.81.12.36.18.73.18 1.1z" fill="#ebebeb"></path>
                        </g>
                        <g>
                            <path d="m296.535 290.724-40.616-171.993 52.682-17.34 2.153-.709 47.315-15.573c3.036-.999 6.332.49 7.588 3.429l67.255 157.296c14.085 32.943 4.13 70.509-25.939 90.541-15.236 10.151-33.751 13.852-51.762 10.845-29.164-4.868-53.537-27.078-58.676-56.496z" fill="#f8f6f6"></path>
                        </g>
                        <g>
                            <path d="m406.969 336.374c-10.09 6.72-21.61 10.61-33.48 11.6 5.35-1.91 10.48-4.47 15.29-7.67 30.07-20.03 40.02-57.6 25.94-90.54l-67.26-157.3c-.56-1.31-1.53-2.33-2.69-2.97l13.3-4.38c3.04-1 6.33.49 7.59 3.42l67.25 157.3c14.09 32.94 4.13 70.51-25.94 90.54z" fill="#ebebeb"></path>
                        </g>
                        <g>
                            <path d="m355.211 347.216c18.014 3.009 36.524-.694 51.767-10.838 30.064-20.033 40.018-57.599 25.931-90.546-.016-.048-.361-.839-.984-2.287-24.025 13.561-53.588 18.417-80.612 17.332-22.187-.878-42.414-4.569-62.645-3.5l7.871 33.351c5.133 29.409 29.509 51.622 58.672 56.488z" fill="#fee45a"></path>
                        </g>
                        <g>
                            <path d="m427.649 315.554c-2.428 3.739-5.208 7.242-8.3 10.47-3.65 3.81-7.78 7.28-12.38 10.35-5.588 3.729-11.762 6.645-18.2 8.64-4.97 1.54-10.09 2.52-15.28 2.96 5.35-1.91 10.48-4.47 15.29-7.67 29.61-19.73 39.71-56.47 26.56-89.04 5.74-2.17 11.3-4.74 16.59-7.72l.98 2.29c10.08 23.58 7.85 49.53-5.26 69.72z" fill="#fed402"></path>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="m253.272 9.131c-4.26 8.536-13.924 23.953-30.851 31.419-2.349 1.036-2.349 4.365 0 5.401 16.927 7.465 26.591 22.883 30.851 31.419 1.085 2.174 4.207 2.174 5.292 0 4.26-8.536 13.924-23.953 30.851-31.419 2.349-1.036 2.349-4.365 0-5.401-16.927-7.465-26.591-22.883-30.851-31.419-1.085-2.174-4.207-2.174-5.292 0z" fill="#fee45a"></path>
                        </g>
                        <g>
                            <path d="m289.416 45.954c-16.932 7.465-26.589 22.883-30.856 31.417-1.08 2.171-4.204 2.171-5.284 0-1.98-3.939-5.093-9.35-9.541-14.761 5.178-6.322 8.26-12.643 17.366-16.656 2.351-1.038 2.351-4.373 0-5.4-9.107-4.013-12.188-10.335-17.366-16.657 4.447-5.411 7.561-10.832 9.541-14.772 1.08-2.171 4.204-2.171 5.284 0 4.267 8.545 13.925 23.963 30.856 31.428 2.351 1.028 2.351 4.363 0 5.401z" fill="#fed402"></path>
                        </g>
                        <g>
                            <path d="m505.388 456.912c-3.382-10.275-12.545-17.322-23.345-17.953l-55.507-3.241-28.354-86.144c4.499-1.895 8.835-4.216 12.949-6.956 32.682-21.773 44.475-62.784 28.678-99.731l-67.256-157.298c-2.81-6.569-10.048-9.834-16.829-7.604l-99.805 32.85-99.805-32.849c-6.779-2.234-14.02 1.033-16.83 7.604 0 0-67.29 157.384-67.309 157.43-2.172 5.116-3.966 10.801-5.105 16.239-6.732 32.141 5.927 64.765 33.837 83.359 4.114 2.741 8.449 5.061 12.948 6.956l-28.354 86.144-55.508 3.241c-10.799.631-19.962 7.678-23.344 17.954-1.892 5.75 1.246 11.967 6.996 13.861l123.092 40.514c2.763.91 5.782.683 8.379-.627 2.618-1.322 4.565-3.584 5.481-6.369 3.382-10.274.195-21.386-8.117-28.308l-42.73-35.577 28.428-86.37c5.355 1.124 10.843 1.705 16.388 1.705 4.476 0 8.99-.372 13.497-1.124 33.126-5.53 59.135-30.583 64.79-62.379l33.267-140.875 33.267 140.875c5.655 31.797 31.664 56.85 64.791 62.379 4.507.752 9.019 1.125 13.496 1.124 5.544 0 11.031-.581 16.387-1.705l28.428 86.369-42.731 35.576c-8.313 6.921-11.499 18.033-8.117 28.308.916 2.786 2.863 5.048 5.481 6.37 2.543 1.284 5.551 1.559 8.38.628l25.164-8.283c3.935-1.295 6.074-5.534 4.779-9.469-1.295-3.934-5.532-6.076-9.469-4.779l-20.645 6.795c.145-3.064 1.555-5.986 4.023-8.042l44.373-36.942 57.641 3.365c3.208.188 6.077 1.7 8.014 4.079l-60.267 19.836c-3.935 1.295-6.074 5.534-4.779 9.469 1.295 3.934 5.53 6.076 9.469 4.779l64.787-21.324c5.75-1.893 8.887-8.11 6.996-13.86zm-372.704 30.598c2.469 2.056 3.879 4.977 4.023 8.042l-114.051-37.539c1.936-2.38 4.805-3.892 8.013-4.08l57.642-3.365zm84.6-237.802c-9.383-.093-18.601.619-26.736 1.339l-3.219.289c-4.125.37-7.17 4.015-6.799 8.141.37 4.125 4.033 7.174 8.141 6.799 8.323-.747 16.687-1.478 25.064-1.577 0 0-2.545 10.781-2.537 10.776 0 0-3.257 13.813-3.283 13.958-4.48 25.643-25.588 45.893-52.523 50.39-16.411 2.739-32.878-.701-46.369-9.689-22.974-15.305-33.203-42.382-27.21-68.949.53-2.349 1.178-4.694 1.964-7.027.017-.049.035-.098.052-.147 20.05 9.495 44.604 14.607 70.123 14.511 4.142-.016 7.486-3.387 7.471-7.529-.017-4.132-3.371-7.471-7.499-7.471h-.03c-23.665.107-46.205-4.652-64.357-13.427l63.056-147.477 94.445 31.085zm47.516-126.004 94.445-31.085 63.055 147.476c-19.871 9.625-44.676 14.33-70.691 13.289-8.371-.331-16.593-1.084-24.543-1.813-11.129-1.019-21.742-1.977-32.512-1.863zm91.646 216.119c-26.937-4.497-48.044-24.747-52.524-50.39-.025-.145-5.82-24.738-5.82-24.738 8.96.104 18.082.94 27.596 1.812 8.142.746 16.56 1.518 25.314 1.864 28.074 1.125 55.064-3.942 76.999-14.356.02.059.043.119.063.178.294.873 2.464 9.098 2.916 12.185.002-.002.005-.004.007-.007 3.64 24.853-6.704 49.453-28.182 63.762-13.491 8.989-29.962 12.429-46.369 9.69z"></path><path d="m380.477 42.601c1.032.486 2.118.716 3.188.716 2.814 0 5.513-1.593 6.791-4.309l6.512-13.837c1.764-3.748.155-8.216-3.593-9.979-3.747-1.765-8.215-.156-9.979 3.593l-6.512 13.837c-1.764 3.747-.155 8.215 3.593 9.979z"></path><path d="m430.74 114.928c.328 3.915 3.606 6.874 7.465 6.874.21 0 .423-.009.636-.027l15.239-1.279c4.128-.346 7.193-3.973 6.847-8.101s-4.001-7.199-8.101-6.847l-15.239 1.279c-4.128.347-7.193 3.974-6.847 8.101z"></path><path d="m421.464 75.251c1.477 0 2.969-.435 4.273-1.341l12.559-8.727c3.401-2.364 4.242-7.038 1.879-10.439-2.362-3.401-7.037-4.242-10.439-1.879l-12.559 8.727c-3.401 2.364-4.242 7.038-1.879 10.439 1.457 2.096 3.792 3.22 6.166 3.22z"></path><path d="m121.382 39.008c1.278 2.716 3.976 4.309 6.791 4.309 1.069 0 2.157-.23 3.188-.716 3.748-1.764 5.356-6.232 3.593-9.979l-6.512-13.837c-1.764-3.748-6.232-5.357-9.979-3.593-3.748 1.764-5.356 6.232-3.593 9.979z"></path><path d="m57.758 120.496 15.239 1.279c.213.018.425.027.636.027 3.857 0 7.137-2.959 7.465-6.874.347-4.127-2.719-7.754-6.847-8.101l-15.239-1.279c-4.102-.348-7.755 2.718-8.101 6.847-.346 4.128 2.719 7.755 6.847 8.101z"></path><path d="m73.542 65.183 12.559 8.727c1.306.907 2.797 1.341 4.273 1.341 2.374 0 4.709-1.124 6.166-3.221 2.363-3.401 1.522-8.075-1.879-10.439l-12.559-8.727c-3.405-2.365-8.076-1.521-10.439 1.879-2.363 3.402-1.522 8.076 1.879 10.44z"></path><path d="m219.395 52.813c14.771 6.515 23.36 20.28 27.166 27.905 1.779 3.566 5.364 5.781 9.355 5.782h.002c3.99 0 7.575-2.215 9.357-5.782 3.806-7.625 12.396-21.391 27.166-27.905 3.788-1.67 6.236-5.424 6.236-9.563s-2.448-7.893-6.236-9.563c-14.771-6.515-23.36-20.28-27.168-27.908-1.78-3.565-5.365-5.779-9.355-5.779-.001 0-.002 0-.002 0-3.991 0-7.576 2.216-9.355 5.781-3.806 7.625-12.395 21.391-27.166 27.905-3.788 1.67-6.236 5.424-6.236 9.563s2.448 7.894 6.236 9.564zm36.523-33.081c4.748 7.607 12.116 16.822 22.683 23.518-10.566 6.695-17.935 15.911-22.683 23.518-4.748-7.607-12.116-16.822-22.683-23.518 10.567-6.695 17.935-15.91 22.683-23.518z"></path>
                        </g>
                    </g>
                </g>
            </svg>


        </span>
        <h3 class="u-align-center u-text u-text-5">Фуршет</h3>
        <p class="u-align-center u-text u-text-6">15:00</p>
    </div>
</div>
<div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
    <div class="u-container-layout u-similar-container u-container-layout-3 light-green2">
        <span class="u-icon u-icon-circle u-icon-3">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 64 64" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-83ce"></use>
            </svg>
            <svg class="u-svg-content" viewBox="0 0 64 64" id="svg-83ce">
                <g id="Filled_outline">
                    <path d="m3 11h12v12h-12z" fill="#ffd782"></path><path d="m15 11h-12v-1.769a2.231 2.231 0 0 1 2.231-2.231l10.769-1.038z" fill="#394d5c"></path><path d="m3 23h12v12h-12z" fill="#195c85"></path><path d="m26 11h12v12h-12z" fill="#ffd782"></path><path d="m38 11h-12v-1.637a2.369 2.369 0 0 1 2.363-2.363h7.637a2 2 0 0 1 2 2z" fill="#394d5c"></path><path d="m27 23h10v12h-10z" fill="#394d5c"></path><path d="m11 31v-4a2 2 0 0 0 -2-2 2 2 0 0 0 -2 2v8h10a2 2 0 0 0 2-2 2 2 0 0 0 -2-2z" fill="#0f5172"></path><path d="m49 12h12v12h-12z" fill="#ffd782" transform="matrix(-1 0 0 -1 110 36)"></path><path d="m49 8h12a0 0 0 0 1 0 0v1.019a2.981 2.981 0 0 1 -2.981 2.981h-6.038a2.981 2.981 0 0 1 -2.981-2.981v-1.019a0 0 0 0 1 0 0z" fill="#394d5c" transform="matrix(-1 0 0 -1 110 20)"></path><path d="m25 23h2a0 0 0 0 1 0 0v12a0 0 0 0 1 0 0h-4a0 0 0 0 1 0 0v-10a2 2 0 0 1 2-2z" fill="#143441"></path><path d="m37 23h4a0 0 0 0 1 0 0v9a0 0 0 0 1 0 0h-2a2 2 0 0 1 -2-2v-7a0 0 0 0 1 0 0z" fill="#143441" transform="matrix(-1 0 0 -1 78 55)"></path><path d="m27 31h2a2 2 0 0 1 2 2 2 2 0 0 1 -2 2h-2a0 0 0 0 1 0 0v-4a0 0 0 0 1 0 0z" fill="#ffd782"></path><path d="m53 4h4v4h-4z" fill="#e6f1fd"></path><path d="m53 4-4-1v5h4z" fill="#d0e5f7"></path><path d="m57 4 4-1v5h-4z" fill="#d0e5f7"></path><path d="m3 11h4v6h-4z" fill="#143441"></path><path d="m15 23h-5l5 6.962z" fill="#e6f1fd"></path><path d="m49 24v12l-2 21h14v-21-12z" fill="#e6f1fd"></path><path d="m3 35v6h6v16h6v-17-5z" fill="#2d75bb"></path><path d="m5 41h4v16h-4z" fill="#195c85"></path><path d="m19 61h-10v-4h7a3.021 3.021 0 0 1 3 3.125z" fill="#394d5c"></path><path d="m5 57h4v4h-4z" fill="#143441"></path><path d="m46 61h9v-4h-6a3.021 3.021 0 0 0 -3 3.125z" fill="#143441"></path><path d="m55 57h4v4h-4z" fill="#394d5c"></path><path d="m27 35h10v22h-10z" fill="#143441"></path><path d="m27 57h5v4h-5z" fill="#394d5c"></path><path d="m32 57h5v4h-5z" fill="#5a6470"></path><path d="m37 32h4a0 0 0 0 1 0 0v2a2 2 0 0 1 -2 2 2 2 0 0 1 -2-2v-2a0 0 0 0 1 0 0z" fill="#ffd782"></path><path d="m23 31h4v4h-4z" fill="#394d5c"></path><path d="m53 32v-4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v8h-10a2 2 0 0 1 -2-2 2 2 0 0 1 2-2z" fill="#ffd782"></path><path d="m57 12h4v24h-4z" fill="#d0e5f7"></path><path d="m10 14h2v2h-2z"></path><path d="m33 14h2v2h-2z"></path><path d="m29 14h2v2h-2z"></path><path d="m3 42h1v19a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-.875a4.021 4.021 0 0 0 -4-4.125v-20h1a3 3 0 0 0 0-6h-1v-18.9l.981-4.942a1 1 0 0 0 -.239-.865 1.013 1.013 0 0 0 -.838-.324l-10.673 1.031a3.234 3.234 0 0 0 -3.231 3.23v31.77a1 1 0 0 0 1 1zm5 18h-2v-2h2zm0-4h-2v-14h2zm10 4h-8v-2h6a2.008 2.008 0 0 1 2 2zm-1-28a1 1 0 0 1 0 2h-9v-7a1 1 0 0 1 2 0v4a1 1 0 0 0 1 1zm-5.051-8h2.051v2.855zm1.851 6h-1.8v-2.5zm-9.8-20.77a1.263 1.263 0 0 1 1.327-1.23l9.43-.909-.578 2.909h-10.179zm0 2.77h2v4h-2zm0 6h3a1 1 0 0 0 1-1v-5h6v7.523l-3.628-1.452-.744 1.858 4.372 1.748v.323h-10zm0 6h5.487l.039.053a3.045 3.045 0 0 0 -.526-.053 3 3 0 0 0 -3 3v7h-2zm0 12h10v20h-4v-15a1 1 0 0 0 -1-1h-5z"></path><path d="m52 15h2v2h-2z"></path><path d="m31.293 21.669a1 1 0 0 0 1.414 0l2-2a1 1 0 0 0 -1.414-1.414l-1.293 1.293-1.293-1.293a1 1 0 0 0 -1.414 1.414z"></path><path d="m60.757 2.03-3.879.97h-3.756l-3.879-.97a1 1 0 0 0 -1.243.97v5a1 1 0 0 0 .6.912 3.937 3.937 0 0 0 -.6 2.068v20.02h-1a3 3 0 0 0 0 6h.9l-1.9 19.905a1 1 0 0 0 .052.419 4.175 4.175 0 0 0 -1.052 2.801v.875a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1v-3h1a1 1 0 0 0 1-1v-46.02a3.937 3.937 0 0 0 -.6-2.068 1 1 0 0 0 .6-.912v-5a1 1 0 0 0 -1.243-.97zm-6.757 2.97h2v2h-2zm-4-.719 2 .5v2.219h-2zm0 8.719h6v10h-4.127l2.748-2.178-1.242-1.568-3.379 2.677zm0 12h6v.184a2.966 2.966 0 0 0 -1-.184 3 3 0 0 0 -3 3v3h-2zm-3 10a1 1 0 0 1 0-2h6a1 1 0 0 0 1-1v-4a1 1 0 0 1 2 0v7zm7 25h-7a2.008 2.008 0 0 1 2-2h5zm4 0h-2v-2h2zm2-4h-11.9l1.809-19h10.091zm0-21h-2v-22h2zm-10-24v-.02a1.983 1.983 0 0 1 1.981-1.98h6.038a1.983 1.983 0 0 1 1.981 1.98zm10-4h-2v-2.219l2-.5z"></path><path d="m39 22v-13a3 3 0 0 0 -3-3h-7.637a3.367 3.367 0 0 0 -3.363 3.363v12.637a3 3 0 0 0 -3 3v10a1 1 0 0 0 1 1h3v25a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-24.184a2.966 2.966 0 0 0 1 .184 3 3 0 0 0 3-3v-9a3 3 0 0 0 -3-3zm-15 3a1 1 0 0 1 1-1h1v6h-2zm5 7a1 1 0 0 1 1 1 .978.978 0 0 1 -.306.713.965.965 0 0 1 -.694.287h-1v-2zm-5 2v-2h2v2zm7 26h-3v-2h3zm5 0h-3v-2h3zm0-4h-3v-16h-2v16h-3v-20h8zm0-22h-4.182a2.824 2.824 0 0 0 0-2h1.182v-3h1v-2h-1v-1h-2v1h-1v2h1v1.78a2.981 2.981 0 0 0 -2-.78h-1v-6h8zm1-12h-10v-10h10zm0-12h-10v-.637a1.364 1.364 0 0 1 1.363-1.363h7.637a1 1 0 0 1 1 1zm3 24a1 1 0 0 1 -2 0v-1h2zm0-3h-2v-7h1a1 1 0 0 1 1 1z"></path>
                </g>
            </svg>


        </span>
        <h3 class="u-align-center u-text u-text-7">Церемония</h3>
        <p class="u-align-center u-text u-text-8">15:30</p>
    </div>
</div>
<div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
    <div class="u-container-layout u-similar-container u-container-layout-4 light-green2">
        <span class="u-icon u-icon-circle u-icon-4">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0fc9"></use>
            </svg>
            <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-0fc9">
                <g>
                    <g>
                        <g>
                            <g>
                                <g>
                                    <g>
                                        <circle cx="256" cy="256" fill="#eaf6ff" r="192.2"></circle>
                                        <g fill="#c4e1ff">
                                            <path d="m346.492 396.646c-3.69-14.095-13.673-25.252-27.297-28.431-11.31-2.639-22.809.772-31.851 8.313-7.624-8.741-18.835-14.272-31.344-14.272-12.51 0-23.72 5.531-31.344 14.272-9.042-7.54-20.541-10.951-31.851-8.313-13.623 3.179-23.607 14.336-27.297 28.431-.739 2.822-.033 5.845 1.879 8.048 9.553 11.006 23.435 16.595 37.059 13.417 4.03-.94 7.738-2.586 11.062-4.794 4.289 18.403 20.783 32.117 40.492 32.117s36.203-13.714 40.492-32.117c3.324 2.208 7.031 3.853 11.062 4.794 13.624 3.179 27.506-2.41 37.059-13.417 1.912-2.203 2.618-5.226 1.879-8.048z"></path><path d="m448.2 256c0 106.15-86.05 192.2-192.2 192.2-27.34 0-53.35-5.71-76.89-16 13.2 3.07 26.96 4.69 41.1 4.69 99.9 0 180.89-80.99 180.89-180.89s-80.99-180.89-180.89-180.89c-14.14 0-27.9 1.62-41.1 4.69 23.54-10.29 49.55-16 76.89-16 106.15 0 192.2 86.05 192.2 192.2z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <circle cx="256" cy="256.001" fill="#b5dbfd" r="119.059"></circle><path d="m375.06 256c0 65.76-53.31 119.06-119.06 119.06-10.78 0-21.23-1.43-31.16-4.13 59.85-4.16 107.1-54.03 107.1-114.93s-47.25-110.77-107.1-114.93c9.93-2.7 20.38-4.13 31.16-4.13 65.75 0 119.06 53.31 119.06 119.06z" fill="#8dcafc"></path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <g>
                                            <path d="m405.388 74.121c6.444 0 11.668 5.224 11.668 11.668v61.826c0 5.566 4.512 10.077 10.077 10.077 5.566 0 10.078-4.512 10.078-10.077v-61.826c0-6.444 5.224-11.668 11.668-11.668h.46c6.444 0 11.668 5.224 11.668 11.668v61.826c0 5.566 4.512 10.077 10.077 10.077 5.566 0 10.078-4.512 10.078-10.077v-61.826c0-6.444 5.224-11.668 11.668-11.668 6.444 0 11.668 5.224 11.668 11.668v81.966c0 24.729-16.208 45.656-38.576 52.773v48.205c0 35.62 4.791 70.965 12.145 105.817.418 1.979.637 4.032.637 6.136v27.597c0 16.345-13.25 29.595-29.595 29.595-16.345 0-29.595-13.25-29.595-29.595v-27.597c0-2.104.22-4.156.637-6.136 7.354-34.853 12.145-70.197 12.145-105.818v-48.242c-22.463-7.281-38.58-28.737-38.58-53.571v-81.13c.003-6.444 5.228-11.668 11.672-11.668z" fill="#fcc16d"></path><path d="m504.5 85.79v81.97c0 24.72-16.21 45.65-38.58 52.77v48.2c0 35.62 4.79 70.97 12.15 105.82.42 1.98.64 4.03.64 6.14v27.59c0 16.35-13.25 29.6-29.6 29.6-4.14 0-8.08-.85-11.66-2.39 10.54-4.53 17.92-15.01 17.92-27.21v-27.59c0-2.11-.22-4.16-.64-6.14-7.35-34.85-12.14-70.19-12.14-105.8v-56.36c0-3.91 2.25-7.49 5.82-9.08 19.3-8.65 32.75-28.03 32.75-50.55v-66.97c0-6.45 5.23-11.67 11.67-11.67 3.23 0 6.14 1.3 8.25 3.42 2.12 2.11 3.42 5.02 3.42 8.25z" fill="#fca62f"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <path d="m7.5 151.444c0-42.43 26.758-76.826 59.767-76.826s59.767 34.396 59.767 76.826c0 34.923-18.134 64.385-42.955 73.723v43.07c0 35.62 4.791 70.965 12.145 105.817.418 1.979.637 4.032.637 6.136v27.597c0 16.345-13.25 29.595-29.595 29.595-16.345 0-29.595-13.25-29.595-29.595v-27.597c0-2.104.22-4.156.637-6.136 7.354-34.853 12.145-70.197 12.145-105.818v-43.07c-24.819-9.337-42.953-38.799-42.953-73.722z" fill="#fcc16d"></path><path d="m84.08 225.17v43.07c0 35.62 4.79 70.96 12.14 105.81.42 1.98.64 4.04.64 6.14v27.6c0 16.34-13.25 29.59-29.59 29.59-4.32 0-8.43-.93-12.13-2.6 10.29-4.63 17.46-14.97 17.46-26.99v-27.6c0-2.1-.22-4.16-.64-6.14-7.35-34.85-12.14-70.19-12.14-105.81v-48.6c0-3.75 2.11-7.17 5.44-8.89 21.98-11.35 37.51-38.99 37.51-71.31 0-33.6-16.77-56.51-40.15-64.59 1.53-.15 3.09-.23 4.65-.23 33 0 59.76 34.39 59.76 76.82 0 34.93-18.13 64.39-42.95 73.73z" fill="#fca62f"></path>
                                    </g>
                                </g>
                            </g>
                            <g fill="#fff1e2">
                                <path d="m256.02 409.83c-.007 0-.013 0-.02 0s-.013 0-.02 0z"></path><path d="m255.98 332.622h.02s.013 0 .02 0z"></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="m307.554 395.034c-15.022-3.505-25.613-16.725-28.227-32.892 9.489-13.343 24.846-20.508 39.869-17.003 13.623 3.179 23.607 14.336 27.297 28.431.739 2.822.033 5.845-1.879 8.048-9.554 11.005-23.437 16.594-37.06 13.416z" fill="#1ca559"></path>
                                            </g>
                                            <g>
                                                <path d="m325.45 348.543c-7.277 13.601-22.789 20.406-39.081 18.742-10.43-12.621-13.372-29.311-6.095-42.912 6.599-12.335 19.962-19.087 34.532-19 2.917.018 5.654 1.483 7.286 3.9 8.155 12.078 9.957 26.934 3.358 39.27z" fill="#4dcb8f"></path>
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="m204.446 395.034c15.022-3.505 25.613-16.725 28.227-32.892-9.489-13.343-24.846-20.508-39.869-17.003-13.623 3.179-23.607 14.336-27.297 28.431-.739 2.822-.033 5.845 1.879 8.048 9.554 11.005 23.437 16.594 37.06 13.416z" fill="#1ca559"></path>
                                            </g>
                                            <g>
                                                <path d="m186.55 348.543c7.277 13.601 22.789 20.406 39.081 18.742 10.43-12.621 13.372-29.311 6.095-42.912-6.599-12.335-19.962-19.087-34.532-19-2.917.018-5.654 1.483-7.286 3.9-8.155 12.078-9.957 26.934-3.358 39.27z" fill="#4dcb8f"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g><circle cx="256" cy="380.768" fill="#fb3a82" r="41.589"></circle><path d="m297.593 380.766c0 22.969-18.624 41.593-41.593 41.593-13.769 0-25.98-6.688-33.558-17.002 4.939 2.639 10.578 4.134 16.567 4.134 19.419 0 35.159-15.74 35.159-35.159 0-16.61-11.532-30.538-27.029-34.205 2.851-.615 5.819-.943 8.861-.943 22.969 0 41.593 18.613 41.593 41.582z" fill="#fb1466"></path>
                                <g>
                                    <path d="m256 364.453c9.266 0 16.728 7.725 16.297 17.086-.382 8.308-7.219 15.145-15.527 15.527-9.361.431-17.086-7.031-17.086-16.297h3.051c7.325 0 13.264-5.938 13.264-13.264v-3.052z" fill="#cf0e50"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                    <g>
                        <path d="m382.559 256c0-30.359-10.914-59.718-30.729-82.668-19.608-22.708-46.648-37.753-76.139-42.363-4.092-.637-7.929 2.159-8.568 6.252-.64 4.092 2.16 7.929 6.252 8.568 25.983 4.061 49.814 17.324 67.102 37.346 17.465 20.227 27.083 46.104 27.083 72.865 0 28.909-10.984 56.132-30.568 76.738.107-9.357-2.802-18.953-8.683-27.663-3.023-4.478-8.054-7.171-13.457-7.204-17.736-.091-33.555 8.691-41.189 22.961-2.126 3.974-3.57 8.258-4.314 12.704-4.247-1.202-8.72-1.859-13.347-1.859-4.634 0-9.115.659-13.368 1.865-.746-4.45-2.17-8.744-4.293-12.711-7.634-14.27-23.42-23.044-41.19-22.961-5.402.033-10.433 2.726-13.457 7.204-5.876 8.702-8.785 18.289-8.684 27.638-19.564-20.62-30.57-47.905-30.57-76.712 0-26.767 9.623-52.649 27.094-72.878 17.296-20.024 41.135-33.285 67.127-37.339 4.093-.639 6.893-4.474 6.255-8.566-.639-4.093-4.476-6.893-8.566-6.255-29.5 4.602-56.55 19.644-76.167 42.355-19.825 22.953-30.743 52.317-30.743 82.683 0 35.768 14.949 69.47 41.22 93.451-5.806 5.927-10.152 13.601-12.409 22.219-1.367 5.226-.069 10.782 3.472 14.862 9.493 10.938 22.064 16.902 34.926 16.902 3.163 0 6.346-.361 9.502-1.098 1.721-.402 3.407-.916 5.054-1.531 7.681 17.103 24.864 29.05 44.795 29.05s37.114-11.947 44.795-29.05c1.648.615 3.334 1.13 5.055 1.531 3.157.737 6.337 1.098 9.501 1.098 12.86 0 25.433-5.965 34.926-16.902 3.541-4.08 4.839-9.636 3.471-14.863-2.262-8.642-6.602-16.301-12.408-22.22 26.294-23.974 41.219-57.562 41.219-93.449zm-95.672 71.91c5.078-9.491 15.469-15.151 27.874-15.038.441.002.869.231 1.116.597 6.929 10.261 8.035 22.05 2.961 31.535-3.725 6.962-10.49 11.933-18.861 13.984-.106-.212-.216-.422-.325-.633l12.66-23.663c1.954-3.652.578-8.197-3.075-10.151-3.652-1.956-8.197-.578-10.151 3.075l-9.374 17.52c-1.85-1.751-3.832-3.364-5.936-4.814.048-4.397 1.092-8.638 3.111-12.412zm-90.763-14.44c.247-.366.674-.595 1.115-.597 12.403-.102 22.796 5.547 27.874 15.038 2.047 3.824 3.084 7.99 3.121 12.405-2.108 1.451-4.093 3.066-5.946 4.821l-9.374-17.52c-1.955-3.652-6.499-5.029-10.151-3.075s-5.029 6.499-3.075 10.151l12.66 23.663c-.107.208-.216.416-.321.626-8.366-2.053-15.151-7.036-18.865-13.977-5.073-9.485-3.967-21.274 2.962-31.535zm6.618 74.26c-10.479 2.444-21.575-1.679-29.691-11.029-.29-.333-.4-.806-.289-1.232 1.89-7.217 5.769-13.426 10.911-17.648 5.786 7.48 14.077 12.893 23.804 15.486-.373 2.433-.566 4.925-.566 7.461 0 1.848.112 3.669.312 5.465-1.446.626-2.94 1.137-4.481 1.497zm53.258 27.126c-18.796 0-34.088-15.292-34.088-34.089 0-18.796 15.292-34.088 34.088-34.088s34.088 15.292 34.088 34.088c0 18.797-15.292 34.089-34.088 34.089zm82.949-38.155c-8.115 9.35-19.214 13.474-29.69 11.029-1.541-.36-3.035-.871-4.482-1.498.2-1.795.312-3.617.312-5.464 0-2.537-.193-5.029-.566-7.464 9.733-2.589 18.013-7.985 23.802-15.479 5.144 4.219 9.019 10.406 10.913 17.643.111.427 0 .9-.289 1.233z"></path><path d="m492.832 66.621c-10.569 0-19.168 8.599-19.168 19.168v61.826c0 1.421-1.156 2.578-2.578 2.578-1.421 0-2.577-1.156-2.577-2.578v-61.826c0-10.569-8.599-19.168-19.168-19.168h-.46c-10.569 0-19.168 8.599-19.168 19.168v61.826c0 1.421-1.156 2.578-2.578 2.578s-2.578-1.156-2.578-2.578v-61.826c0-10.569-8.599-19.168-19.168-19.168s-19.168 8.599-19.168 19.168v18.856c-9.748-8.4-20.265-15.865-31.457-22.242-3.599-2.05-8.178-.796-10.229 2.804-2.05 3.599-.795 8.179 2.804 10.229 14.216 8.1 27.271 18.078 38.882 29.643v41.841c0 25.945 15.291 48.908 38.58 58.771v43.042c0 23.749-2.171 48.694-6.595 75.63-32.441 59.449-94.474 96.337-162.206 96.337-31.855 0-63.257-8.24-90.812-23.829-26.325-14.894-48.782-36.232-65.048-61.75-1.191-6.496-2.268-12.901-3.205-19.149-.614-4.096-4.432-6.924-8.529-6.305-4.096.614-6.919 4.433-6.305 8.529 1.017 6.785 2.2 13.749 3.507 20.808.027.192.066.383.109.574.985 5.296 2.031 10.637 3.168 16.023.315 1.497.476 3.041.476 4.588v27.597c0 12.183-9.912 22.095-22.095 22.095s-22.095-9.912-22.095-22.095v-27.596c0-1.547.16-3.091.476-4.587 8.281-39.245 12.307-74.365 12.307-107.366v-43.07c0-3.124-1.936-5.92-4.859-7.02-22.429-8.439-38.095-35.868-38.095-66.703 0-38.226 23.447-69.326 52.267-69.326s52.267 31.1 52.267 69.326c0 30.835-15.666 58.264-38.096 66.703-2.923 1.1-4.859 3.896-4.859 7.02v43.07c0 10.609.433 21.667 1.286 32.869.314 4.13 3.91 7.213 8.048 6.909 4.13-.315 7.223-3.918 6.909-8.048-.825-10.824-1.243-21.499-1.243-31.729v-38.128c25.896-12.446 42.955-43.297 42.955-78.665 0-10.742-1.628-21.01-4.562-30.467 34.319-32.072 78.89-49.678 126.028-49.678 20.138 0 39.948 3.226 58.881 9.589 3.926 1.318 8.179-.793 9.499-4.72 1.319-3.926-.794-8.179-4.72-9.499-20.476-6.881-41.894-10.37-63.66-10.37-49.051 0-95.516 17.653-132.018 49.891-11.957-23.467-32.903-39.072-56.716-39.072-37.09-.001-67.266 37.827-67.266 84.325 0 35.368 17.059 66.218 42.955 78.665v38.128c0 31.948-3.92 66.054-11.984 104.27-.53 2.513-.799 5.098-.799 7.684v27.597c0 20.454 16.641 37.095 37.095 37.095s37.095-16.641 37.095-37.095v-21.872c15.103 17.6 33.213 32.568 53.44 44.011 29.803 16.861 63.76 25.773 98.198 25.773 61.418 0 118.506-28.048 156.017-75.01v27.595c0 20.454 16.641 37.095 37.095 37.095s37.095-16.641 37.095-37.095v-27.597c0-2.588-.269-5.174-.799-7.684-8.064-38.215-11.984-72.322-11.984-104.269v-42.975c23.286-9.714 38.576-32.373 38.576-58.005v-81.966c0-10.569-8.599-19.168-19.168-19.168zm4.168 101.134c0 20.943-13.403 39.279-33.351 45.626-3.112.99-5.226 3.881-5.226 7.147v48.206c0 33 4.026 68.12 12.307 107.367.315 1.494.476 3.037.476 4.586v27.597c0 12.183-9.912 22.095-22.095 22.095s-22.095-9.912-22.095-22.095v-27.597c0-1.547.16-3.091.476-4.587 2.004-9.496 3.753-18.746 5.262-27.788.001-.007.002-.014.004-.021 4.724-28.316 7.042-54.547 7.042-79.557v-48.242c0-3.251-2.095-6.132-5.188-7.135-19.661-6.373-33.393-25.468-33.393-46.437v-81.131c0-2.298 1.87-4.168 4.168-4.168s4.168 1.87 4.168 4.168v61.826c0 9.692 7.885 17.578 17.578 17.578s17.578-7.885 17.578-17.578v-61.826c0-2.298 1.87-4.168 4.168-4.168h.46c2.298 0 4.168 1.87 4.168 4.168v61.826c0 9.692 7.885 17.578 17.577 17.578s17.578-7.885 17.578-17.578v-61.826c0-2.298 1.87-4.168 4.168-4.168s4.17 1.87 4.17 4.168z"></path><path d="m256 356.953c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5c4.86 0 8.815 3.955 8.815 8.815 0 4.861-3.955 8.815-8.815 8.815s-8.815-3.955-8.815-8.815c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5c0 13.132 10.683 23.815 23.815 23.815s23.815-10.684 23.815-23.815-10.683-23.815-23.815-23.815z"></path>
                    </g>
                </g>
            </svg>


        </span>
        <h3 class="u-align-center u-text u-text-9">Банкет и развлечения</h3>
        <p class="u-align-center u-text u-text-10">15:45</p>
    </div>
</div>
<div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-5" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
    <div class="u-container-layout u-similar-container u-container-layout-5 light-green2">
        <span class="u-icon u-icon-circle u-icon-5">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 480 480" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a02f"></use>
            </svg>
            <svg class="u-svg-content" viewBox="0 0 480 480" x="0px" y="0px" id="svg-a02f" style="enable-background:new 0 0 480 480;">
                <g>
                    <path style="fill:#FEC9A3;" d="M163.996,96h40v32h-40V96z"></path><path style="fill:#FEC9A3;" d="M319.996,8L319.996,8c15.464,0,28,12.536,28,28v24c0,15.464-12.536,28-28,28l0,0   c-15.464,0-28-12.536-28-28V36C291.996,20.536,304.532,8,319.996,8z"></path>
                </g><path style="fill:#A15D30;" d="M347.996,56V36c0.062-15.429-12.394-27.986-27.823-28.049C306.204,7.895,294.34,18.166,292.396,32  h31.6L347.996,56z"></path><path style="fill:#FEC9A3;" d="M307.996,72h32v32h-32V72z"></path><path style="fill:#65686B;" d="M283.996,128v144h80V129.448c0-18.473-14.975-33.448-33.448-33.448h-14.552  C298.323,96,283.996,110.327,283.996,128z"></path><path style="fill:#FEC9A3;" d="M191.996,40L191.996,40c15.464,0,28,12.536,28,28v24c0,15.464-12.536,28-28,28l0,0  c-15.464,0-28-12.536-28-28V68C163.996,52.536,176.532,40,191.996,40z"></path><path style="fill:#FFDDA6;" d="M227.996,216h-72v-72c0-13.255,10.745-24,24-24h24l21.928,18.272  c13.15,10.963,14.923,30.511,3.959,43.661c-0.598,0.717-1.227,1.406-1.887,2.067V216z"></path><path style="fill:#FFF3C9;" d="M155.996,216c-31.238,31.236-52.064,71.358-59.632,114.88l-14.552,83.68  c-3.784,21.761-14.197,41.822-29.816,57.44h176V216H155.996z"></path><path style="fill:#FEC9A3;" d="M179.996,120h8l40,88l20.888-76.584c1.839-6.738,7.959-11.414,14.944-11.416  c8.554-0.003,15.49,6.929,15.493,15.483c0,1.352-0.176,2.699-0.525,4.005l-19.944,74.808c-4.039,15.159-17.768,25.707-33.456,25.704  c-13.125,0.013-25.129-7.397-31-19.136L155.996,144C155.996,130.745,166.741,120,179.996,120z"></path><path style="fill:#787D82;" d="M274.556,120c5.784,0.004,11.071,3.269,13.664,8.44L323.996,200v-84c0-11.046,8.954-20,20-20  s20,8.954,20,20v85.84c-0.004,21.073-17.087,38.156-38.16,38.16c-15.61,0.002-29.648-9.504-35.44-24l-30.032-75.064  c-3.128-7.833,0.686-16.719,8.519-19.847C270.688,120.368,272.613,119.999,274.556,120L274.556,120z"></path>
                <g>
                    <path style="fill:#484A4D;" d="M323.996,472h-56l16-16V272h40V472z"></path><path style="fill:#484A4D;" d="M363.996,272v88l64,56l-40,48v-32l-64-56V272H363.996z"></path>
                </g>
                <g>
                    <path style="fill:#FFDDA6;" d="M91.996,344c-4.418,0.001-8.001-3.579-8.002-7.998c-0.001-3.164,1.863-6.031,4.754-7.314   c46.998-20.875,90.578-48.719,129.272-82.592l4.704-4.112c3.479-2.723,8.507-2.111,11.231,1.368   c2.507,3.203,2.212,7.778-0.687,10.632l-4.704,4.12c-39.904,34.944-84.849,63.669-133.32,85.208   C94.222,343.768,93.115,344.002,91.996,344L91.996,344z"></path><path style="fill:#FFDDA6;" d="M75.996,440c-4.418-0.01-7.992-3.6-7.982-8.018c0.008-3.43,2.202-6.474,5.454-7.566   c60.035-20.006,110.73-61.191,142.608-115.856l5.008-8.592c2.366-3.731,7.309-4.839,11.04-2.473   c3.529,2.237,4.741,6.813,2.784,10.505l-5.016,8.592c-33.831,58.025-87.642,101.737-151.368,122.96   C77.711,439.836,76.858,439.988,75.996,440z"></path>
                </g><path style="fill:#A15D30;" d="M191.996,40c-15.464,0-28,12.536-28,28v16l45.368-37.808C204.45,42.208,198.322,40.023,191.996,40z"></path><path style="fill:#FFF3C9;" d="M83.996,216h72l24-176H168.66c-21.646-0.002-40.615,14.485-46.312,35.368L83.996,216z"></path><path d="M371.996,356.368V116c0-15.464-12.536-28-28-28c-0.6,0-1.224,0.104-1.832,0.152c8.693-6.759,13.794-17.141,13.832-28.152V36  c-0.022-19.873-16.127-35.978-36-36c-2.284,0.01-4.561,0.24-6.8,0.688c-1.16,0.224-2.248,0.624-3.368,0.952  c-0.968,0.296-1.952,0.528-2.888,0.904c-1.374,0.56-2.711,1.209-4,1.944c-0.568,0.312-1.152,0.584-1.704,0.92  c-1.377,0.869-2.694,1.828-3.944,2.872c-0.376,0.312-0.752,0.6-1.112,0.92c-1.272,1.141-2.462,2.37-3.56,3.68  c-0.264,0.312-0.528,0.624-0.8,0.952c-1.087,1.374-2.071,2.826-2.944,4.344c-0.192,0.336-0.376,0.68-0.552,1.024  c-0.854,1.581-1.584,3.226-2.184,4.92c-0.12,0.336-0.216,0.688-0.328,1.04c-0.575,1.779-1.011,3.601-1.304,5.448  c0,0.088-0.048,0.16-0.056,0.248s0,0.136,0,0.208c-0.265,1.633-0.418,3.282-0.456,4.936v24c0.045,12.636,6.729,24.318,17.6,30.76  c-10.004,3.994-17.982,11.845-22.136,21.784c-3.437-0.747-7.003-0.662-10.4,0.248c-12.238-3.048-24.651,4.318-27.84,16.52  l-2.992,10.96c-1.981-3.036-4.381-5.778-7.128-8.144l-15.616-13.016c7.922-6.782,12.491-16.683,12.512-27.112V68  c-0.011-10.938-5.02-21.271-13.6-28.056c-1.391-1.104-2.862-2.104-4.4-2.992h-0.04l-0.072-0.04L209.66,36.8l-0.12-0.072  l-0.456-0.248l-0.112-0.064c-1.361-0.738-2.766-1.39-4.208-1.952h-0.04h-0.048h-0.048c-0.464-0.176-0.968-0.336-1.536-0.512  l-0.8-0.232l-0.384-0.112c-1.052-0.324-2.12-0.591-3.2-0.8h-0.064c-2.162-0.46-4.359-0.731-6.568-0.808h-0.08h-0.088  c-2.774-0.027-5.541,0.301-8.232,0.976c-1.128-0.622-2.392-0.957-3.68-0.976H168.66c-25.24,0.041-47.348,16.925-54.032,41.264  L76.276,213.896c-1.162,4.263,1.352,8.66,5.614,9.822c0.686,0.187,1.394,0.282,2.106,0.282h53.824  c-25.581,30.125-42.618,66.558-49.336,105.504l-14.552,83.68c-3.468,20.15-13.11,38.726-27.592,53.16  c-3.124,3.125-3.123,8.19,0.002,11.314c1.5,1.499,3.534,2.342,5.654,2.342h176c4.418,0,8-3.582,8-8V246.488  c14.887-3.784,26.577-15.3,30.584-30.128l6.136-23.016l3.28,8.192v251.152l-13.656,13.656c-3.124,3.125-3.123,8.19,0.002,11.314  c1.5,1.499,3.534,2.342,5.654,2.342h56c4.418,0,8-3.582,8-8v-78.4l48,42V464c-0.002,4.418,3.577,8.002,7.996,8.004  c2.375,0.001,4.627-1.053,6.148-2.876l40-48c2.788-3.337,2.401-8.289-0.872-11.152L371.996,356.368z M323.996,264h-32v-30.712  c0.632,0.68,1.32,1.304,1.992,1.944c0.32,0.304,0.624,0.632,0.952,0.928c1.468,1.324,3.021,2.55,4.648,3.672  c0.376,0.264,0.8,0.488,1.152,0.736c1.362,0.874,2.769,1.675,4.216,2.4c0.456,0.232,0.904,0.472,1.376,0.688  c1.816,0.851,3.687,1.581,5.6,2.184c0.304,0.096,0.616,0.152,0.92,0.24c1.683,0.487,3.392,0.877,5.12,1.168  c0.544,0.096,1.088,0.184,1.6,0.264c2.068,0.292,4.152,0.447,6.24,0.464c2.634-0.016,5.263-0.256,7.856-0.72  c0.288-0.048,0.576-0.072,0.864-0.128c2.382-0.469,4.723-1.127,7-1.968c0.376-0.136,0.752-0.264,1.12-0.408  c2.177-0.857,4.285-1.882,6.304-3.064c0.36-0.208,0.712-0.424,1.064-0.64c1.988-1.222,3.881-2.591,5.664-4.096  c0.088-0.08,0.2-0.136,0.296-0.216V264L323.996,264z M355.996,116v85.832c0.006,16.657-13.491,30.165-30.148,30.172  c-12.342,0.005-23.441-7.51-28.02-18.972l-19.2-48l-10.824-27.056c-0.731-1.759-0.705-3.741,0.072-5.48  c0.807-1.813,2.305-3.23,4.16-3.936c2.442-1.095,5.305-0.57,7.2,1.32c0.74,0.584,1.36,1.307,1.824,2.128l35.776,71.552  c0.385,0.745,0.884,1.426,1.48,2.016c0.189,0.176,0.389,0.339,0.6,0.488c0.424,0.368,0.888,0.688,1.384,0.952  c0.259,0.132,0.526,0.246,0.8,0.344c0.5,0.2,1.021,0.345,1.552,0.432c0.282,0.061,0.568,0.101,0.856,0.12  c0.168,0,0.328,0.072,0.504,0.072c0.619-0.002,1.236-0.072,1.84-0.208c3.6-0.859,6.141-4.075,6.144-7.776v-84  c0.007-5.272,3.485-9.909,8.544-11.392c1.115-0.377,2.28-0.582,3.456-0.608C350.624,104,355.996,109.373,355.996,116L355.996,116z   M339.996,36v0.688l-10.344-10.344c-1.5-1.5-3.534-2.344-5.656-2.344h-19.864c0.893-1.178,1.915-2.251,3.048-3.2l0.184-0.152  c1.037-0.855,2.157-1.602,3.344-2.232c0.192-0.104,0.376-0.216,0.576-0.312c1.104-0.537,2.255-0.968,3.44-1.288  c0.272-0.072,0.536-0.184,0.8-0.256c1.464-0.358,2.965-0.546,4.472-0.56C331.042,16,339.996,24.954,339.996,36L339.996,36z   M299.996,40h20.688l19.312,19.312V60c0,11.046-8.954,20-20,20s-20-8.954-20-20V40z M315.996,104h2.696  c-0.136,0.28-0.184,0.592-0.304,0.88c-0.569,1.294-1.034,2.632-1.392,4c-0.136,0.504-0.272,1.008-0.376,1.528  c-0.397,1.841-0.606,3.717-0.624,5.6v50.112l-20.624-41.248c-0.633-1.264-1.395-2.46-2.272-3.568  C296.063,111.105,305.376,104.067,315.996,104L315.996,104z M229.052,161.032c0.305,6.134-1.878,12.131-6.056,16.632l-12.24-26.928  L200.42,128h0.68l19.696,16.424C225.789,148.53,228.793,154.572,229.052,161.032L229.052,161.032z M199.332,239.064  c0.88,0.68,1.784,1.336,2.72,1.944c0.616,0.408,1.248,0.8,1.888,1.176c0.968,0.56,1.952,1.072,2.968,1.6  c0.656,0.32,1.32,0.632,1.992,0.92c1.064,0.44,2.16,0.8,3.256,1.176c0.672,0.216,1.328,0.456,2.008,0.64  c0.888,0.24,1.792,0.408,2.696,0.592c-33.373,29.028-70.37,53.606-110.064,73.12c8.461-36.252,26.627-69.518,52.552-96.232h27.704  l0.216,0.44c0.861,1.701,1.831,3.344,2.904,4.92c0.336,0.496,0.728,0.944,1.08,1.432c0.8,1.032,1.544,2.048,2.4,3  c0.464,0.52,0.968,1,1.464,1.504c0.8,0.8,1.6,1.6,2.504,2.4C198.172,238.16,198.748,238.608,199.332,239.064L199.332,239.064z   M102.948,339.712c42.12-19.524,81.477-44.527,117.048-74.36v36.488l-3.92,6.72c-29.004,49.708-73.666,88.4-127,110.024  c0.176-0.896,0.464-1.752,0.616-2.656L102.948,339.712z M211.996,68v24c0,11.046-8.954,20-20,20  c-4.82-0.018-9.467-1.799-13.064-5.008l2.056-15.056l1.8-13.176l25.92-21.6C210.849,60.37,211.993,64.142,211.996,68z M165.156,208  l2.984-21.832L179.052,208H165.156z M193.38,48.144c0.344,0,0.68,0.056,1.016,0.104l-2.048,1.712l-6.4,5.296l0.072-0.496l0.8-6.032  C188.954,48.142,191.176,47.945,193.38,48.144L193.38,48.144z M130.068,77.472C134.84,60.087,150.632,48.026,168.66,48h2.168  l-21.816,160H94.468L130.068,77.472z M69.348,464c5.834-8.076,10.584-16.881,14.128-26.192  c55.616-19.706,103.459-56.705,136.52-105.576V464H69.348z M262.78,168.504l-11.656,43.728  c-2.96,10.915-12.496,18.767-23.776,19.576l-1.144,0.112c-0.265,0.043-0.532,0.069-0.8,0.08c-10.092,0.03-19.324-5.678-23.808-14.72  l-2.4-4.856l-27.2-54.4l3.384-24.8l0.64-4.688c1.294-0.36,2.632-0.541,3.976-0.536h2.848l37.872,83.312  c0.337,0.74,0.788,1.423,1.336,2.024c0.072,0.072,0.16,0.12,0.232,0.2c0.472,0.504,1.011,0.943,1.6,1.304  c0.08,0.048,0.168,0.072,0.24,0.112c0.608,0.349,1.259,0.618,1.936,0.8c0.176,0,0.352,0,0.536,0.072  c0.461,0.1,0.929,0.159,1.4,0.176h0.408c0,0,0.152,0,0.232,0s0.216-0.064,0.336-0.08c0.24,0,0.48,0,0.72-0.072  s0.376-0.176,0.584-0.24c0.483-0.148,0.951-0.338,1.4-0.568c0.322-0.165,0.632-0.352,0.928-0.56c0.393-0.29,0.759-0.614,1.096-0.968  c0.252-0.253,0.49-0.52,0.712-0.8c0.279-0.406,0.52-0.838,0.72-1.288c0.174-0.319,0.323-0.651,0.448-0.992  c0-0.112,0.104-0.2,0.136-0.304l17.72-64.968l2.256,5.648L262.78,168.504z M315.996,464h-28.688l2.344-2.344  c1.5-1.5,2.344-3.534,2.344-5.656V280h24V464z M395.996,441.904V432c-0.004-2.306-0.998-4.5-2.728-6.024l-61.272-53.608V280h24v80  c0.004,2.306,0.998,4.5,2.728,6.024l58.128,50.848L395.996,441.904z"></path>
            </svg>


        </span>
        <h3 class="u-align-center u-text u-text-11">Первый танец</h3>
        <p class="u-align-center u-text u-text-12">18:30</p>
    </div>
</div>
<div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-6" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
    <div class="u-container-layout u-similar-container u-container-layout-6 light-green2">
        <span class="u-icon u-icon-circle u-icon-6">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ede9"></use>
            </svg>
            <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ede9">
                <g>
                    <g clip-rule="evenodd" fill-rule="evenodd">
                        <path d="m252.407 27.244c2.179 2.206 4.81 2.403 7.187 0l4.611-4.612c12.25-12.222 32.251-12.222 44.472 0 12.222 12.222 12.222 32.224 0 44.473l-37.655 37.654-15.22 5.093-14.824-5.093-37.655-37.654c-12.249-12.249-12.249-32.251 0-44.473 12.221-12.222 32.223-12.222 44.444 0z" fill="#fd8fce"></path><path d="m274.332 15.87c11.429-4.752 25.093-2.489 34.344 6.762 12.222 12.222 12.222 32.224 0 44.473l-37.655 37.654h-24.216l37.654-37.654c12.222-12.249 12.222-32.251 0-44.473-2.998-2.999-6.42-5.234-10.127-6.762z" fill="#ff6fc0"></path><path d="m360.957 419.943c0 14.823-30.384 27.385-72.338 31.771-5.46.593-7.724 5.46-7.724 8.458v5.685c-.424 5.603 2.263 8.657 7.186 10.638l47.867 19.181c2.575 1.02 1.726 2.887-.566 2.887h-158.793c-2.292 0-3.141-1.867-.538-2.887l47.839-19.181c4.951-1.98 7.61-5.035 7.214-10.638v-5.685c0-2.998-2.263-7.865-7.724-8.458-41.983-4.386-72.338-16.947-72.338-31.771l104.958-19.04z" fill="#375e7d"></path><path d="m89.454 234.132h333.092v-85.551h-333.092zm-45.434 152.597h423.96v-98.479h-423.96z" fill="#ffe8c8"></path><path d="m46.057 419.943c-18.276 0-33.638-13.07-37.287-30.327-1.443-6.902 2.178-7.809 6.959-7.752h480.514c4.81-.057 8.401.85 6.959 7.752-3.621 17.257-18.983 30.327-37.287 30.327z" fill="#407093"></path><path d="m472.818 381.864h23.425c4.81-.057 8.401.85 6.959 7.752-3.621 17.257-18.983 30.327-37.287 30.327h-24.217c18.304 0 33.666-13.07 37.287-30.327 1.359-6.507-1.782-7.667-6.167-7.752z" fill="#375e7d"></path><path d="m398.329 234.132h24.217v-85.551h-24.217zm45.435 147.732h24.216v-93.614h-24.216z" fill="#fed1a3"></path><path d="m467.98 288.25c0 19.098-15.503 34.571-34.599 34.571-9.59-.084-19.351-3.989-25.518-11.514-4.102-4.95-4.442-4.3-8.374.397-6.026 7.241-15.956 11.033-25.235 11.117-9.846-.084-19.605-4.13-25.858-11.882-3.961-4.922-4.328-3.649-8.034.792-5.828 6.96-15.758 11.006-24.726 11.09h-.509c-9.874-.084-19.577-4.13-25.858-11.852-3.96-4.895-4.357-3.65-8.034.763-5.828 6.988-15.758 11.006-24.726 11.09h-.509c-9.788-.084-19.662-4.13-25.858-11.852-3.79-4.725-4.102-4.046-7.723.395-6.054 7.44-16.097 11.373-25.546 11.457-9.816-.084-19.634-4.13-25.886-11.852-4.017-5.036-4.244-3.733-8.035.791-5.828 6.932-15.729 10.978-24.698 11.061h-.538c-9.732-.084-19.69-4.13-25.857-11.852-3.819-4.78-4.046-4.074-7.724.423-6.025 7.413-16.097 11.346-25.546 11.43-19.096 0-34.571-15.474-34.571-34.571v-19.037c0-19.295 15.786-35.081 35.08-35.081h353.8c19.294 0 35.08 15.786 35.08 35.081v19.035zm-45.434-139.669c0 15.447-12.165 27.979-27.187 27.979-7.44-.084-14.57-2.97-19.436-8.714-3.932-4.609-4.073-3.96-7.893.397-4.696 5.46-12.023 8.232-19.125 8.316-7.384-.084-14.626-2.998-19.436-8.685-4.018-4.724-3.989-4.102-7.893.395-4.724 5.433-12.023 8.205-19.124 8.289-7.724-.084-14.796-3.111-19.776-9.053-3.762-4.497-4.017-3.309-7.553.764-4.725 5.433-12.023 8.205-19.124 8.289-7.469-.084-14.57-2.97-19.464-8.714-3.932-4.609-4.045-3.987-7.865.397-4.753 5.46-11.995 8.232-19.124 8.316-7.469-.084-14.599-2.97-19.464-8.714-3.933-4.582-4.102-3.931-7.865.425-4.753 5.433-12.023 8.205-19.152 8.289-7.695-.084-14.796-3.111-19.775-9.053-3.763-4.525-4.018-3.28-7.525.792-4.696 5.376-12.108 8.177-19.152 8.261-14.994 0-27.159-12.531-27.159-27.979v-15.418c0-15.616 12.391-28.404 27.555-28.404h277.981c15.136 0 27.555 12.788 27.555 28.404v15.421z" fill="#ffbde3"></path><path d="m467.98 288.25c0 19.098-15.503 34.571-34.599 34.571-4.102-.028-8.233-.763-12.08-2.178 13.098-4.922 22.462-17.568 22.462-32.394v-19.037c0-19.295-15.786-35.081-35.08-35.081h24.217c19.294 0 35.08 15.786 35.08 35.081zm-45.434-139.669c0 15.447-12.165 27.979-27.187 27.979-4.243-.057-8.431-1.018-12.108-2.913 8.939-4.584 15.079-14.088 15.079-25.065v-15.418c0-15.616-12.419-28.404-27.583-28.404h24.245c15.136 0 27.555 12.788 27.555 28.404v15.417z" fill="#faabdb"></path>
                    </g><path d="m242.477 27.922c-4.498-4.498-10.553-7.016-16.946-7.016-13.24 0-23.905 10.694-23.905 23.962 0 6.14 2.32 12.277 6.988 16.945l35.448 35.447h23.849l35.476-35.447c4.668-4.668 6.988-10.806 6.988-16.945 0-13.268-10.665-23.962-23.934-23.962-6.139 0-12.278 2.347-16.946 7.016-3.932 3.933-7.525 8.629-13.721 8.487-5.97-.113-9.449-4.639-13.297-8.487zm136.643 185.104c-4.131 0-7.469-3.366-7.469-7.497 0-4.13 3.338-7.468 7.469-7.468h13.07c4.131 0 7.497 3.338 7.497 7.468 0 4.131-3.366 7.497-7.497 7.497zm-51.856 0c-4.131 0-7.497-3.366-7.497-7.497 0-4.13 3.366-7.468 7.497-7.468h13.07c4.13 0 7.469 3.338 7.469 7.468 0 4.131-3.339 7.497-7.469 7.497zm-51.857 0c-4.159 0-7.497-3.366-7.497-7.497 0-4.13 3.338-7.468 7.497-7.468h13.07c4.13 0 7.469 3.338 7.469 7.468 0 4.131-3.338 7.497-7.469 7.497zm-51.884 0c-4.131 0-7.469-3.366-7.469-7.497 0-4.13 3.338-7.468 7.469-7.468h13.07c4.13 0 7.497 3.338 7.497 7.468 0 4.131-3.367 7.497-7.497 7.497zm-51.857 0c-4.13 0-7.497-3.366-7.497-7.497 0-4.13 3.367-7.468 7.497-7.468h13.07c4.131 0 7.468 3.338 7.468 7.468 0 4.131-3.337 7.497-7.468 7.497zm-51.885 0c-4.13 0-7.468-3.366-7.468-7.497 0-4.13 3.338-7.468 7.468-7.468h13.071c4.159 0 7.497 3.338 7.497 7.468 0 4.131-3.338 7.497-7.497 7.497zm-48.518 147.055c-4.13 0-7.468-3.367-7.468-7.497s3.338-7.497 7.468-7.497h14.654c4.131 0 7.497 3.367 7.497 7.497s-3.366 7.497-7.497 7.497zm348.765 0c-4.159 0-7.497-3.367-7.497-7.497s3.338-7.497 7.497-7.497h14.626c4.131 0 7.497 3.367 7.497 7.497s-3.366 7.497-7.497 7.497zm-58.137 0c-4.13 0-7.497-3.367-7.497-7.497s3.367-7.497 7.497-7.497h14.655c4.13 0 7.469 3.367 7.469 7.497s-3.338 7.497-7.469 7.497zm-58.109 0c-4.158 0-7.497-3.367-7.497-7.497s3.338-7.497 7.497-7.497h14.626c4.13 0 7.497 3.367 7.497 7.497s-3.366 7.497-7.497 7.497zm-58.137 0c-4.13 0-7.497-3.367-7.497-7.497s3.367-7.497 7.497-7.497h14.655c4.13 0 7.468 3.367 7.468 7.497s-3.338 7.497-7.468 7.497zm-58.136 0c-4.13 0-7.469-3.367-7.469-7.497s3.338-7.497 7.469-7.497h14.654c4.131 0 7.497 3.367 7.497 7.497s-3.366 7.497-7.497 7.497zm-58.109 0c-4.13 0-7.497-3.367-7.497-7.497s3.367-7.497 7.497-7.497h14.655c4.13 0 7.469 3.367 7.469 7.497s-3.338 7.497-7.469 7.497zm50.838-247.852c-4.13 0-7.469-3.34-7.469-7.47s3.338-7.498 7.469-7.498h42.662l-24.867-24.866c-7.581-7.582-11.372-17.568-11.372-27.526 0-21.559 17.342-38.898 38.871-38.898 13.297 0 21.529 5.347 30.469 14.285 8.939-8.939 17.144-14.285 30.44-14.285 21.557 0 38.899 17.34 38.899 38.898 0 9.958-3.791 19.944-11.372 27.526l-24.868 24.866h105.891c9.647 0 18.445 4.075 24.811 10.638 6.309 6.508 10.213 15.448 10.213 25.265v93.472h2.885c11.713 0 22.35 4.809 30.045 12.504 7.723 7.723 12.504 18.36 12.504 30.074v104.673h28.545c4.413 0 8.006 3.594 8.006 7.979 0 12.674-5.205 24.217-13.551 32.563-8.346 8.344-19.86 13.521-32.534 13.521h-99.271c-3.621 7.725-12.504 14.4-25.235 19.55-13.523 5.489-31.94 9.647-53.017 11.768v9.309l57.515 23.058c3.848 1.528 5.687 5.884 4.159 9.702-1.132 2.829-3.876 4.696-6.932 4.696h-174.297c-4.131 0-7.469-3.337-7.469-7.468 0-3.367 2.206-6.196 5.234-7.157l57.005-22.831v-9.309c-21.105-2.121-39.522-6.278-53.045-11.768-12.731-5.149-21.586-11.825-25.207-19.55h-31.969c-4.413 0-7.978-3.593-7.978-8.005 0-4.385 3.565-7.979 7.978-7.979h352.527c8.289 0 15.786-3.395 21.246-8.854 3.649-3.621 6.366-8.177 7.78-13.241h-477.88c1.414 5.064 4.13 9.62 7.751 13.241 5.46 5.46 12.985 8.854 21.246 8.854h33.44c4.384 0 7.978 3.594 7.978 7.979 0 4.412-3.593 8.005-7.978 8.005h-33.44c-12.674 0-24.188-5.178-32.534-13.521-8.345-8.348-13.522-19.891-13.522-32.565 0-4.385 3.564-7.979 7.978-7.979h28.545v-85.635-19.037c0-11.714 4.81-22.352 12.504-30.074 7.724-7.695 18.36-12.504 30.073-12.504h2.857c0-31.147 0-62.325 0-93.472 0-9.816 3.932-18.757 10.241-25.265 6.366-6.563 15.136-10.638 24.811-10.638h29.337c4.13 0 7.469 3.368 7.469 7.498s-3.339 7.47-7.469 7.47h-29.337c-5.488 0-10.468 2.319-14.118 6.081-3.677 3.792-5.94 9.026-5.94 14.854v15.418c0 5.432 2.009 10.665 5.799 14.57 3.565 3.677 8.459 5.94 13.863 5.94 3.508 0 6.761-.934 9.562-2.575 2.943-1.698 5.433-4.158 7.187-7.157.622-1.074 1.527-2.008 2.688-2.687 3.564-2.122 8.147-.934 10.241 2.63 1.783 2.999 4.272 5.488 7.214 7.214 2.829 1.642 6.083 2.575 9.562 2.575 3.508 0 6.762-.934 9.562-2.575 2.942-1.698 5.432-4.158 7.214-7.157.622-1.074 1.499-2.008 2.659-2.687 3.565-2.122 8.147-.934 10.241 2.63 1.783 2.999 4.272 5.488 7.243 7.214 2.801 1.642 6.054 2.575 9.563 2.575 3.48 0 6.733-.934 9.562-2.575 2.914-1.698 5.403-4.158 7.186-7.157.622-1.074 1.528-2.008 2.659-2.687 3.565-2.122 8.148-.934 10.241 2.63 1.783 2.999 4.272 5.488 7.243 7.214 2.8 1.642 6.054 2.575 9.562 2.575 3.48 0 6.762-.934 9.563-2.575 2.942-1.698 5.403-4.158 7.185-7.157.622-1.074 1.528-2.008 2.688-2.687 3.537-2.122 8.119-.934 10.212 2.63 1.783 2.999 4.272 5.488 7.243 7.214 2.801 1.642 6.082 2.575 9.563 2.575 3.508 0 6.761-.934 9.562-2.575 2.942-1.698 5.403-4.158 7.186-7.157.623-1.074 1.527-2.008 2.688-2.687 3.536-2.122 8.12-.934 10.242 2.63 1.753 2.999 4.272 5.488 7.214 7.214 2.828 1.642 6.082 2.575 9.562 2.575 3.508 0 6.762-.934 9.562-2.575 2.942-1.698 5.432-4.158 7.186-7.157.623-1.074 1.527-2.008 2.688-2.687 3.564-2.122 8.147-.934 10.241 2.63 1.782 2.999 4.272 5.488 7.214 7.214 2.829 1.642 6.082 2.575 9.562 2.575 5.432 0 10.326-2.264 13.862-5.94 3.621-3.706 5.828-8.856 5.828-14.57v-15.418c0-5.827-2.292-11.062-5.969-14.854-3.622-3.762-8.601-6.081-14.089-6.081h-214.757zm234.811 65.519c-5.602 3.989-12.363 6.31-19.69 6.31-6.168 0-11.967-1.67-17.031-4.611-2.235-1.302-4.301-2.829-6.195-4.584-1.868 1.755-3.933 3.282-6.168 4.584-5.064 2.941-10.863 4.611-17.059 4.611-6.168 0-11.995-1.67-17.031-4.611-2.235-1.302-4.3-2.829-6.196-4.584-1.867 1.755-3.961 3.282-6.168 4.584-5.064 2.941-10.892 4.611-17.059 4.611-6.168 0-11.996-1.67-17.031-4.611-2.235-1.302-4.3-2.829-6.195-4.584-1.896 1.755-3.961 3.282-6.196 4.584-5.036 2.941-10.863 4.611-17.031 4.611s-11.995-1.67-17.059-4.611c-2.206-1.302-4.3-2.829-6.167-4.584-1.895 1.755-3.96 3.282-6.195 4.584-5.036 2.941-10.864 4.611-17.031 4.611-6.196 0-11.996-1.67-17.06-4.611-2.234-1.302-4.3-2.829-6.167-4.584-1.896 1.755-3.96 3.282-6.196 4.584-5.064 2.941-10.863 4.611-17.059 4.611-6.168 0-11.966-1.67-17.031-4.611-2.235-1.302-4.3-2.829-6.196-4.584-1.867 1.755-3.932 3.282-6.168 4.584-5.063 2.941-10.892 4.611-17.059 4.611-7.299 0-14.089-2.32-19.662-6.31v48.887h248.475c4.131 0 7.469 3.367 7.469 7.497 0 4.129-3.338 7.496-7.469 7.496h-266.324c-7.582 0-14.485 3.084-19.492 8.092s-8.091 11.91-8.091 19.493v19.037c0 7.498 3.027 14.26 7.921 19.154 4.894 4.921 11.684 7.948 19.153 7.948 4.837 0 9.364-1.272 13.296-3.48 3.961-2.205 7.299-5.402 9.676-9.193.622-1.132 1.528-2.15 2.716-2.858 3.508-2.149 8.119-1.047 10.27 2.489 2.405 3.961 5.827 7.272 9.901 9.563 3.904 2.207 8.459 3.48 13.268 3.48 4.838 0 9.393-1.272 13.297-3.48 4.046-2.262 7.468-5.545 9.845-9.448.622-1.047 1.471-1.952 2.574-2.604 3.537-2.149 8.12-1.018 10.241 2.519 2.405 3.932 5.828 7.242 9.902 9.533 3.932 2.207 8.459 3.48 13.296 3.48s9.364-1.272 13.268-3.48c3.961-2.205 7.299-5.402 9.704-9.193.594-1.132 1.499-2.15 2.688-2.858 3.536-2.149 8.119-1.047 10.269 2.489 2.433 3.961 5.856 7.272 9.902 9.563 3.932 2.207 8.458 3.48 13.296 3.48s9.365-1.272 13.268-3.48c4.074-2.262 7.497-5.572 9.93-9.563.594-.989 1.443-1.866 2.518-2.489 3.507-2.149 8.091-1.018 10.212 2.519 2.405 3.932 5.828 7.242 9.93 9.533 3.904 2.207 8.431 3.48 13.268 3.48 4.838 0 9.364-1.272 13.268-3.48 4.074-2.262 7.469-5.545 9.874-9.448.594-1.047 1.47-1.952 2.574-2.604 3.508-2.149 8.091-1.018 10.213 2.519 2.404 3.932 5.828 7.242 9.93 9.533 3.904 2.207 8.431 3.48 13.269 3.48 4.837 0 9.364-1.272 13.296-3.48 4.046-2.262 7.468-5.572 9.901-9.563.594-.989 1.442-1.866 2.518-2.489 3.508-2.149 8.092-1.018 10.242 2.519 2.404 3.932 5.799 7.242 9.902 9.533 3.904 2.207 8.431 3.48 13.268 3.48 7.497 0 14.258-3.027 19.181-7.948 4.894-4.895 7.921-11.656 7.921-19.154v-19.037c0-7.583-3.112-14.485-8.119-19.493s-11.882-8.092-19.464-8.092h-53.582c-4.13 0-7.468-3.367-7.468-7.496 0-4.13 3.338-7.497 7.468-7.497h35.731zm45.434 142.67c-7.328 6.168-16.776 9.9-27.103 9.9-7.468 0-14.485-1.952-20.567-5.403-3.281-1.839-6.309-4.131-8.968-6.761-2.688 2.63-5.715 4.922-8.997 6.761-6.111 3.451-13.127 5.403-20.595 5.403-7.469 0-14.485-1.952-20.596-5.403-3.282-1.839-6.281-4.131-8.968-6.79-2.659 2.659-5.686 4.951-8.968 6.79-6.111 3.451-13.127 5.403-20.596 5.403s-14.485-1.952-20.595-5.403c-3.282-1.839-6.281-4.131-8.968-6.761-2.659 2.63-5.686 4.922-8.968 6.761-6.111 3.451-13.127 5.403-20.596 5.403s-14.484-1.952-20.596-5.403c-3.281-1.839-6.309-4.131-8.968-6.761-2.688 2.63-5.686 4.922-8.997 6.761-6.082 3.451-13.098 5.403-20.567 5.403s-14.513-1.952-20.596-5.403c-3.281-1.839-6.309-4.131-8.968-6.79-2.688 2.659-5.715 4.951-8.997 6.79-6.082 3.451-13.127 5.403-20.596 5.403-7.44 0-14.484-1.952-20.567-5.403-3.31-1.839-6.337-4.131-8.997-6.761-2.659 2.63-5.687 4.922-8.968 6.761-6.082 3.451-13.127 5.403-20.595 5.403-10.326 0-19.775-3.732-27.074-9.9v53.468h408.967v-53.468zm-124.675 113.218c4.583-1.868 8.402-3.764 11.315-5.688h-182.246c2.885 1.924 6.733 3.819 11.315 5.688 13.552 5.488 32.846 9.563 55.138 11.316 4.018.113 7.243 3.423 7.243 7.469v21.19c0 2.971-1.782 5.77-4.696 6.933l-26.282 10.523h96.782l-25.744-10.299c-3.027-.963-5.234-3.791-5.234-7.157v-21.19c0-3.876 2.999-7.158 6.932-7.441 22.461-1.753 41.84-5.828 55.477-11.344z"></path>
                </g>
            </svg>


        </span>
        <h3 class="u-align-center u-text u-text-13">Торт</h3>
        <p class="u-align-center u-text u-text-14">21:45</p>
    </div>
</div>
</div>
</div>
</div>
</section>
<section class="u-clearfix u-grey-5 u-section-7" id="survey-section">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout" style="">
                <div class="u-layout-row" style="">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
                        <form id="survey" action="save" method="post">
                            @Html.HiddenFor(x => x.SurveyId)
                            @Html.HiddenFor(x => x.UserId)
                            <div class="u-container-layout u-container-layout-1">
                                <h1 class="u-text u-text-default u-text-1">Анкета</h1>
                                <h5>@Html.LabelFor(x => x.WillYouParticipate)</h5>
                                <div class="display-flex-column">
                                    <div>@Html.RadioButtonFor(x => x.WillYouParticipate, true, new { id = "will-participate" }) Обязательно буду!</div>
                                    <div>@Html.RadioButtonFor(x => x.WillYouParticipate, false, new { id = "wont-participate" }) К сожалению, меня не будет.</div>
                                </div>
                                <div id="secondary-questions">
                                    <div class="col-md-12 text-center">
                                        <h5>@Html.LabelFor(x => x.AlcoholId)</h5>
                                        <div class="display-flex-column">
                                            @foreach (var alcohol in Model.Alcohols)
                                            {
                                                <div>@Html.RadioButtonFor(x => x.AlcoholId, alcohol.AlcoholId) @alcohol.Name</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <h5>@Html.LabelFor(x => x.Allergies)</h5>
                                        @Html.TextBoxFor(x => x.Allergies)
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <h5>@Html.LabelFor(x => x.OvernightStayId)</h5>
                                        <div class="display-flex-column">
                                            @foreach (var option in Model.OvernightStayLookups)
                                            {
                                                <div>@Html.RadioButtonFor(x => x.OvernightStayId, option.Id) @option.Name</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <p id="thank-you" class="hidden green">Спасибо за ответ!</p>
                                <input type="submit" class="u-btn u-btn-round u-button-style u-radius-50 dark-green2" value="Сохранить"/>
                            </div>
                        </form>
                    </div>
                    <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="150" data-image-height="100">
                        <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix light-green3 u-section-8" id="inspiration-section">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
        <h2 class="u-custom-font u-text u-text-default u-text-1">
            <span style="font-size: 3.75rem;">Inspiration</span>
        </h2>
        <div id="carousel-bd35" data-interval="5000" data-u-ride="carousel" class="u-carousel u-expanded-width-xs u-slider u-slider-1">
            <ol class="u-absolute-hcenter u-carousel-indicators u-hidden u-carousel-indicators-1">
                <li data-u-target="#carousel-bd35" class="u-active u-grey-30" data-u-slide-to="0"></li>
                <li data-u-target="#carousel-bd35" class="u-grey-30" data-u-slide-to="1"></li>
                <li data-u-target="#carousel-bd35" class="u-grey-30" data-u-slide-to="2"></li>
                <li data-u-target="#carousel-bd35" class="u-grey-30" data-u-slide-to="3"></li>
                <li data-u-target="#carousel-bd35" class="u-grey-30" data-u-slide-to="4"></li>
                <li data-u-target="#carousel-bd35" class="u-grey-30" data-u-slide-to="5"></li>
                <li data-u-target="#carousel-bd35" class="u-grey-30" data-u-slide-to="6"></li>
            </ol>
            <div class="u-carousel-inner" role="listbox">
                <div class="u-active u-align-center u-carousel-item u-container-style u-slide u-carousel-item-1">
                    <div class="u-container-layout u-valign-top-xs u-container-layout-1">
                        <img alt="" class="u-image u-image-default u-image-1" data-image-width="1600" data-image-height="1068" src="/images/item4.jpg">
                        <blockquote class="u-custom-font u-text u-text-2">
                            <span style="font-size: 1rem;">Когда любишь, то такое богатство открываешь в себе!&nbsp; Даже не верится, что ты так умеешь любить.&nbsp;А. П. Чехов</span>
                            <span style="font-size: 0.875rem;"></span>
                        </blockquote>
                    </div>
                </div>
                <div class="u-carousel-item u-container-style u-slide u-carousel-item-2">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                        <img alt="" class="u-expanded-width-sm u-image u-image-default u-image-2" data-image-width="1600" data-image-height="1068" src="/images/item5.jpg">
                        <blockquote class="u-align-center u-custom-font u-text u-text-3"> Любовь&nbsp;— это когда хочешь переживать с кем-то все четыре времени года. Когда хочешь бежать с кем-то от весенней грозы под&nbsp;усыпанную цветами сирень, а летом собирать ягоды и купаться в реке. Осенью вместе варить варенье и заклеивать окна от холода. Зимой&nbsp;— помогать пережить насморк и долгие вечера…&nbsp;Рэй Брэдбери</blockquote>
                    </div>
                </div>
                <div class="u-carousel-item u-container-style u-slide u-carousel-item-3">
                    <div class="u-container-layout u-valign-top-xs u-container-layout-3">
                        <img class="u-image u-image-default u-image-3" src="/images/item3.jpg" alt="" data-image-width="703" data-image-height="937">
                        <p class="u-text u-text-4">Факт о нас: мы очень любим кататься на великах, даже заменили ими все виды транспорта. Правда с момента, как Даша пошла в автошколу, очень хочется, 
                            чтобы велик стал не единственным видом транспорта в нашей семье))&nbsp;</p>
                    </div>
                </div>
                <div class="u-carousel-item u-container-style u-slide u-carousel-item-4">
                    <div class="u-container-layout u-container-layout-4">
                        <img class="u-image u-image-default u-image-4" src="/images/item2.jpg" alt="" data-image-width="703" data-image-height="937">
                        <blockquote class="u-text u-text-5">Sample quote. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</blockquote>
                        <p class="u-text u-text-6">Факт о нас (точнее больше про кота): у нашего кота много имен: первое и основное - это Жевжик, но так мы называем мы его только когда ругаем)) 
                            Чаще всего он мистер Боба, Бобочка, Лососик, Пёсик, Тельняшик) </p>
                    </div>
                </div>
                <div class="u-carousel-item u-container-style u-slide u-carousel-item-5">
                    <div class="u-container-layout u-container-layout-5">
                        <img class="u-image u-image-default u-image-5" src="/images/item1.jpg" alt="" data-image-width="703" data-image-height="937">
                        <p class="u-text u-text-6">Факт о нас: мы учились на одном факультете, на одной специальности с разницей в два года, но не были знакомы. Дима принимал участие в декораторском отделе, а Даша - в танцевальном.
                            100% мы друг друга видели, но наше знакомство произошло после окончания университета) </p>
                    </div>
                </div>
                <div class="u-carousel-item u-container-style u-slide u-carousel-item-6">
                    <div class="u-container-layout u-container-layout-6">
                        <img class="u-expanded-width-xs u-image u-image-default u-image-6" src="/images/item8.jpg" alt="" data-image-width="1600" data-image-height="1066">
                        <p class="u-text u-text-8">Факт о нас: мы познакомились на работе осенью в 2018 году, но уже следующим летом перестали быть коллегами. 
                            И вот спустя 2 года снова ими стали, и сейчас работаем на одном проекте :) </p>
                    </div>
                </div>
                <div class="u-carousel-item u-container-style u-slide u-carousel-item-7">
                    <div class="u-container-layout u-valign-top u-container-layout-7">
                        <img class="u-image u-image-default u-image-7" src="/images/item7.jpg" alt="" data-image-width="703" data-image-height="937">
                        <p class="u-text u-text-6">Факт о нас: мы летали в Египет, погружались на рифе, увидели много классных рыбок, Даша умудрилась потерять Диму в море и чуть не сошла с ума, а Дима в это время прохлаждался на яхте)) </p>
                    </div>
                </div>
            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-60 u-icon-circle u-spacing-9 u-carousel-control-1" href="#carousel-bd35" role="button" data-u-slide="prev">
                <span aria-hidden="true">
                    <svg viewBox="0 0 477.175 477.175">
                        <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                        c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path>
                    </svg>
                </span>
                <span class="sr-only">+Previous</span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-60 u-icon-circle u-spacing-9 u-carousel-control-2" href="#carousel-bd35" role="button" data-u-slide="next">
                <span aria-hidden="true">
                    <svg viewBox="0 0 477.175 477.175">
                        <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                        c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path>
                    </svg>
                </span>
                <span class="sr-only">+Next</span>
            </a>
        </div>
    </div>
</section>
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-439c">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Developed by Mizernik team</p>
    </div>
</footer>

<script>
$(document).ready(function (){
    $("#location-btn").click(function (){
        $('html, body').animate({
            scrollTop: $("#location-section").offset().top
        }, 2000);
    });
    $("#survey-btn").click(function (){
        $('html, body').animate({
            scrollTop: $("#survey-section").offset().top
        }, 2000);
    });
});

$("#survey").submit(function(e) {
    $("#thank-you").removeClass("hidden");
    e.preventDefault();
    var formData = $(this).serialize();
    $.post("/survey/save", formData);
});

$("#will-participate").change(function () {
    $("#secondary-questions :input").each(function (index, element) {
        element.removeAttribute("disabled");
    });
});
$("#wont-participate").change(function () {
    disableSecondaryControls();
    $("#secondary-questions :input[type!=radio]").val("");
    $("#secondary-questions :input[type=radio]").prop("checked", false);
});
$( document ).ready(function() {
    if (!$("#will-participate").prop("checked")) {
        disableSecondaryControls();
    }
});
function disableSecondaryControls() {
    $("#secondary-questions :input").each(function (index, element) {
        element.setAttribute("disabled", true);
    });
}
</script>